body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    text-align: left;
}

#results {
    margin-top: 20px;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#results p {
    font-size: 16px;
    margin: 10px 0;
}

.additional-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional-info p {
    margin: 0;
}

.btn-index {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-index:hover {
    background-color: #007bff;
    color: #fff;
}