<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Googol</title>
    <!-- Style sheets -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/stats.css}">
    <!-- Javascript -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/javascript/stats.js}"></script>
</head>

<body>
    <div class="container">
        <!-- Barrel stats -->
        <div class="table-responsive">
            <table id="barrel-stats-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Barrel Stats</th>
                    </tr>
                </thead>
                <tbody id="barrel-stats">
                    <!-- Info will be inserted here -->
                    <tr th:each="barrel : ${barrelStats}">
                        <td th:text="${barrel}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Top searches -->
        <div class="table-responsive">
            <table id="top-searches-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Top Searches</th>
                    </tr>
                </thead>
                <tbody id="top-searches">
                    <!-- Info will be inserted here -->
                    <tr th:each="search : ${topSearches}">
                        <td th:text="${search}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Back to Search button -->
        <div class="text-center mt-3">
            <a href="/search" class="btn btn-primary">Back to Search</a>
        </div>
    </div>
</body>

</html>